*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Catamaran', sans-serif;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.container{
    height: 50%;
    width: 60%;
    background-color: gray;
    border-radius: 20px;
    
}

.date-input{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
#current-date{
    margin-top: 1rem;
    height: 3rem;
}
h1{
    margin-top: 2rem;
    text-align: center;
    color: white;
}

p{
    margin-top: 1rem;
    text-align: center;
    color: white;
}
@media only screen and (max-width:800px){
    .container{
        height: 80%;
        width: 60%;
        background-color: gray;
        border-radius: 20px;
    }    
}